@using Bloc_dotnet.Models.ViewModels;
@model SearchVM;


@{
    ViewData["Title"] = "Recherche";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <h2>Recherche de salarié</h2>
        <br />
        <form asp-action="IndexAdmin" enctype="multipart/form-data" runat="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recherche" class="control-label"></label>
                <input asp-for="Recherche" class="form-control" />
                <span asp-validation-for="Recherche" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdService" class="form-label"></label>
                <select asp-for="IdService" class="form-select" asp-items="@ViewBag.Services"></select>
                <span asp-validation-for="IdService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSite" class="form-label"></label>
                <select asp-for="IdSite" class="form-select" asp-items="@ViewBag.Sites"></select>
                <span asp-validation-for="IdSite" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button class="btn btn-outline-success float-start" type="submit">Recherche</button>
                <a class="btn btn-outline-danger float-end" asp-action="IndexAdmin">Retour à la liste des salariés</a>
            </div>
        </form>
       
    </div>
</div>