@model User
@{
    ViewData["Title"] = "Connexion";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <h2>Connexion</h2>
        <br />
        <form asp-action="Login" enctype="multipart/form-data" runat="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger text-muted"></span>
            </div>            
            <br />
            <div class="form-group">
                <button class="btn btn-outline-success float-start" type="submit">Connexion</button>
                <a class="btn btn-outline-danger float-end" asp-action="Index">Retour à la liste des salariés</a>
            </div>
        </form>
       
    </div>
</div>